<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA53YIeFMJdkC04PqFHAm-IuOSc5v4I1zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>239813232208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simedia.vii</string>
	<key>PROJECT_ID</key>
	<string>buddyvii</string>
	<key>STORAGE_BUCKET</key>
	<string>buddyvii.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239813232208:ios:1ac41b96f56395e408b355</string>
</dict>
</plist>